# Ambiente virtual
venv/
.venv/
env/

# Variáveis de ambiente (nunca suba o .env real!)
.env

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
*.egg-info/
dist/
build/

# Banco de testes
*.db

# IDE
.vscode/
.idea/
*.swp

# Sistema operacional
.DS_Store
Thumbs.db
